<app-header></app-header>
<app-sidebar></app-sidebar>

<main class="bg-slate-250 w-80 ml-48 min-h-[calc(100vh_-_4rem)] mt-[-494.7px] py-6 px-4">
  <router-outlet></router-outlet>
  <!-- <h2 class="font-bold text-xl">My day</h2>
  <div class="text-blue-600"><span>Sun</span>,<span>21 Feb 2024</span></div>

  <div class="flex mt-5">
    <input type="text" class="bg-gray-300 w-full h-12 items-center px-5 py-2 mt-3 rounded-sm shadow-md" placeholder="Type Your Task">
  </div>

  <div class="flex flex-col mt-4">
    <h2 class="font-bold text-xl">Tasks</h2>
    <p class="bg-slate-200 w-full h-10 px-5 py-2 rounded shadow items-center mt-1">task_1</p>
  </div> -->
</main>
