<aside class="bg-white w-48 min-h-[calc(100vh_-_4rem)]">
  <ul>
    <li [routerLink]="'/'" class="p-5 mt-0.5 ml-0.5 text-base font-bold cursor-pointer " routerLinkActive = " bg-blue-200 text-blue-600 border-l-2 rounded-tr-2xl rounded-br-2xl rounded-tl-2xl rounded-bl-2xl" [routerLinkActiveOptions]="{exact:true}" >All</li>
    <li [routerLink]="'important'" class="p-5 mt-0.5 ml-0.5 text-base font-bold cursor-pointer" routerLinkActive = " bg-blue-200 text-blue-600 border-l-2  rounded-tr-2xl rounded-br-2xl rounded-tl-2xl rounded-bl-2xl" >Important</li>
    <li [routerLink]="'completed'"class="p-5 mt-0.5 ml-0.5 text-base  font-bold cursor-pointer" routerLinkActive = "bg-blue-200 text-blue-600 border-l-2  rounded-tr-2xl rounded-br-2xl rounded-tl-2xl rounded-bl-2xl">Completed</li>
  </ul>
</aside>
